html, body {
  height: 100%;
  background-color:#DBD6D1 !important;
  background-size: cover;
  
}

.maincontent {
  color:#322925;
  margin-top: 5%;
  margin-left: 10%;
  margin-right:10%;
  
}

.background-container {
  background-image: url("agriculture-1846044_1920.jpg");
  background-size: cover;
  filter: blur(50px);
  min-height: 100%;
}
 .title {
/* My Journey to Grow Bell Peppers */
font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #322925;
    position: absolute;
    top: 10%;
    left: 8%;
   text-decoration: underline;
 }

.nametag{
position: absolute;
    bottom: 5%;
    left: 5%;
  font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #FFFF;
}
.nametag {
    font-size: 30px;
    line-height: 38px;
}

.health-tool{
  position: absolute;
 right:50%;
top:10%;
}







  
}

.navbar {
  top: 0%;
 
}

.bg-custom {
  background-color: #322925; /* Change this to your desired color */
}

.navbar a {
  color: #DBD6D1; /* Change this to the desired link color */
}





.lefttot {

  
}






@media (max-width: 768px) 
  .title,
  .direct,
  
  
