body {
font-family: 'Caveat', cursive;
  font-size:25px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}



section{
  position:relative; left: 30px;
}

h1 {
text-align: center;
  
}

html{
  background-color: #89CFF0;
}]

