html, body {
  height: 100%;
  background-color:#656565 !important;
  background-size: cover;
}

.maincontent {
  color:#FFFFFF;
  margin-top: 5%;
  margin-left: 10%;
  margin-right:10%
}


.background-container {
  background-image: url("agriculture-1846044_1920.jpg");
  background-size: cover;
  filter: brightness(50%);
  min-height: 100%;
}
 .title {
/* My Journey to Grow Bell Peppers */
font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
    position: absolute;
    top: 10%;
    left: 8%;
   text-decoration: underline;
 }

.nametag{
position: absolute;
    bottom: 5%;
    left: 5%;
  font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
}

.navbar {
  top: 5%;
  
}






@media (max-width: 768px) {
  .title,
  .direct,
  .nametag {
    font-size: 30px;
    line-height: 38px;
  }
  



  


